<div [@routerTransition]>
<div id="myDIV" ><p>Search Exam!</p>
<input class="form-control mr-sm-3" type="text" placeholder="Search College.." style="margin-left: 500px">
</div>
<div class="container-fluid">
	<!-- Container consist of the Heading Name and separator of the college -->
	<div class="container-fluid con1" style="margin-top:10px;">
      <div style="padding-top:20px;">

        <div class="row" style="margin-top:0px;">
        <div class="col-md-9 col-sm-6">
          <h2 style="font-size:30px"><strong>JEE MAIN</strong></h2>
        </div>

        <!-- <div class="col-md-3 col-sm-6">
          <div class="button" style="float:right;">
            <a href="#" class="btn btn-outline-success btn-sm">Edit Profile</a>
          </div>
        </div> -->
        <div class="col-md-12"><br>
			<hr  class="style1">
		  <br></div>
        </div>
     <!-- Row that container image basic info and contact button -->
	
       <div class="row">
        <div class="col-md-*"> <!-- Image -->
          <a href="#"><img class="rounded-circle" src="assets/exams/exam.jpg" alt="College" style="width:200px;height:200px;padding: 0px 10px 10px 10px"></a>
        </div>
        <div class="col-md-6"> <!-- college basic -->
          <h5 style="color:#3AAA64">About Exam </h5>
          <p>Joint Entrance Examination JEE (Main) - 2018 is the current all India engineering entrance examination named by merging AIEEE and IIT-JEE into one brand. Admission to Undergraduate Engineering Programs at NITs, IIITs, Other centrally funded Technical Institutions, Institutions funded by...</p>
        </div>
        <div class="col-md-3 text-center"> <!-- Phone & Social -->
          <!-- <span class="number" style="font-size:18px">Phone:<strong>+XXXXXXXXXX</strong></span> -->
          <div class="button" style="padding-top:18px">
            <a href="#" class="btn btn-outline-success btn-block">Find College</a>
          </div>
	   </div>
		</div>	
		<!--About Exam-->
		<div class="headcon">
			<div>
			<h5 style="color:#3AAA64;"> Timeline for JEE Exam </h5>
			<hr class="style1">
			</div>
		
			<div class="row con2">
				<div class="col-md-12">
						<div class="table-responsive"> 
							<table class="table" style="margin-top: 20px">
							  <thead class="thead-light">
							    <tr>
							      <th scope="col">#</th>
							      <th scope="col">Particular</th>
							      <th scope="col">JEE Main Important Dates</th>
							  
							    </tr>
							  </thead>
							  <tbody>
							    <tr>
							      <th scope="row">1</th>
							      <td>JEE Main Application begins</td>
							      <td>December 1, 2017</td>
							      
							    </tr>
							    <tr>
							      <th scope="row">2</th>
							      <td>JEE Main Application Form submission</td>
							      <td>January 1, 2018</td>
							     
							    </tr>
							    <tr>
							      <th scope="row">3</th>
							      <td>Last date for fee submission</td>
							      <td>January 2, 2018</td>
							      
							    </tr>

							    <tr>
							      <th scope="row">4</th>
							      <td>Correction window</td>
							      <td>Jan 9 to January 20, 2018</td>
							      
							    </tr>
							  </tbody>
							</table>
							</div>

			</div>
		</div>
		  
</div>
</div>
</div>
</div>