<div [@routerTransition]>
<div id="myDIV" ><p>Search College!</p>
<input class="form-control mr-sm-3" type="text" placeholder="Search College.." style="margin-left: 500px">
</div>
<div class="container-fluid">
	<!-- Container consist of the Heading Name and separator of the college -->
	<div class="container-fluid con1" style="margin-top:10px;">
      <div style="padding-top:20px;">

        <div class="row" style="margin-top:0px;">
        <div class="col-md-9 col-sm-6">
          <h2 style="font-size:30px"><strong>Anjuman College of Engineering & Technology</strong></h2>
        </div>

        <!-- <div class="col-md-3 col-sm-6">
          <div class="button" style="float:right;">
            <a href="#" class="btn btn-outline-success btn-sm">Edit Profile</a>
          </div>
        </div> -->
        <div class="col-md-12"><br>
			<hr  class="style1">
		  <br></div>
        </div>
     <!-- Row that container image basic info and contact button -->
	
       <div class="row">
        <div class="col-md-*"> <!-- Image -->
          <a href="#"><img class="rounded-circle" src="assets/exams/12.jpg" alt="College" style="width:200px;height:200px;padding: 0px 10px 10px 10px"></a>
        </div>
        <div class="col-md-6"> <!-- college basic -->
          <h5 style="color:#3AAA64">About College </h5>
          <p>Anjuman College of Engineering and Technology was established in year 1999 by one of the oldest education society of 114 years of Central India in the "0" mile vicinity of Nagpur city, Maharashtra.</p>
          <p>Address: Sadar, Nagpur</p>
        </div>
        <div class="col-md-3 text-center"> <!-- Phone & Social -->
          <span class="number" style="font-size:18px">Phone:<strong>+XXXXXXXXXX</strong></span>
          <div class="button" style="padding-top:18px">
            <a href="#" class="btn btn-outline-success btn-block">Contact</a>
          </div>
	   </div>
		</div>	
		<!--About College-->
		<div class="headcon">
			<div>
			<h5 style="color:#3AAA64;"> Courses Offered </h5>
			<hr class="style1">
			</div>
		
			<div class="row con2">
				<div class="col-md-12">
			<h5 style="color:#3AAA64;"> Bachelor of Engineering (B.E) </h5>
			<hr class="style1"></div>
			<div class="col-md-4 my-header">
				<h6 style="color:#3AAA64;"> Fees:</h6><span> Rs.5 lakh</span>
			</div>
			<div class="col-md-4 my-header">
				<h6 style="color:#3AAA64;"> Duration:</h6><span> 4 years</span>
			</div>
			<div class="col-md-4 my-header">
				<h6 style="color:#3AAA64;"> Rank:</h6><span>  5th in 2015</span>
			</div>
				<div class="table-responsive">
							<table class="table" style="margin-top: 20px">
							  <thead class="thead-light">
							    <tr>
							      <th scope="col">#</th>
							      <th scope="col">Branches Offered</th>
							      <th scope="col">Exam</th>
							      <th scope="col">Seats</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr>
							      <th scope="row">1</th>
							      <td>Computer Science</td>
							      <td>JEE Adv</td>
							      <td>80</td>
							    </tr>
							    <tr>
							      <th scope="row">2</th>
							      <td>Civil Engineering</td>
							      <td>JEE Adv</td>
							      <td>80</td>
							    </tr>
							    <tr>
							      <th scope="row">3</th>
							      <td>Mechanical Engineering</td>
							      <td>JEE Adv</td>
							      <td>80</td>
							    </tr>
							  </tbody>
							</table>
							</div>

			</div>
		</div>
		  
		
		<!-- Common Eligibilty -->
		<div class="headcon">
			<div>
			<h5 style="color:#3AAA64;"> Common Eligibiltiy</h5>
			<hr class="style1">
			</div>
						<ul class="list-group">
						  <li class="list-group-item">The students should have passed XII examination with a minimum of 55% marks for UG courses.</li>
						  <li class="list-group-item">The students should hold a bachelor degree with a minimum 60% marks.</li> 
						  <li class="list-group-item">There are various entrance exams like JEE for UG courses and GATE for PG courses and JMET and JAM for M.Sc and M.Sc-Ph.D dual courses.</li> 
						</ul>
			</div>
		<!-- Highlights -->
		<div class="headcon">
			<div>
			<h5 style="color:#3AAA64;">Highlights</h5>
			<hr class="style1">
			</div>
						<ul class="list-group">
						  <li class="list-group-item"> This College has improved a lot in terms of rankings from 179th of the previous year to 162nd rank this year.</li>
						  <li class="list-group-item">This College has signed MOU with Ripple to support the research for academic, development and for bringing some innovation in the blockchain.</li> 
						  <li class="list-group-item">This College has won various awards and one in the field of Clarivate analytics India Innovation.</li> 
						</ul>
			</div>
		<!-- Location and contact -->
		<div class="headcon">
			<div>
			<h5 style="color:#3AAA64;">Location & Contact</h5>
			<hr class="style1">
			</div>
						<ul class="list-group">
						  <li class="list-group-item"><h6 style="color:#3AAA64;">Address:</h6> Near Mangalwari Sadar, Nagpur</li>
						  <li class="list-group-item"><h6 style="color:#3AAA64;">Contact:</h6>acet@gmail.com</li> 
						  
						</ul>
			</div>
		<!--  Campus Amenities -->
		<div class="headcon">
			<div>
			<h5 style="color:#3AAA64">College Amenities</h5>
			<hr class="style1">
			</div>
			
			<div class="row" style="margin-bottom: 20px;">
				<div class="col-md-3">
				<i class="fa fa-bicycle fa-2x" aria-hidden="true"  style="padding-left: 10px;"> Gym</i></div>
				<div class="col-md-3">
				<i class="fa fa-book fa-2x"  style="padding-left: 20px;" aria-hidden="true"> Library</i></div>
				<div class="col-md-3">
				<i class="fa fa-cutlery fa-2x"  style="padding-left: 20px;" aria-hidden="true"> Canteen</i></div>
				<div class="col-md-3">
				<i class="fa fa-bed fa-2x"  style="padding-left: 20px;" aria-hidden="true"> Hostel</i></div>

				
			</div>
			</div>
</div>
</div>
</div>
</div>